h1, h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem;
    display: inline-block;
    background-color: blanchedalmond;
}
li {
    margin: 1.25rem 0;
}

strong {
    font-size: 18px;
}